### For Loop

In [2]:
for i in range(6):
    print(i)
else:
    print(i)

0
1
2
3
4
5
5

In [34]:
marks={34,25,34,78,99,77,66}
for item in marks:
    print(f"{item}")
    if (item==78):
        break
# else:
    # print(item)

34
99
66
25
77
78

In [35]:
person = {"age":25,"name":"madhu"}
for person in person.values():
    print(person)

25
madhu

In [37]:
person = {"age":25,"name":"madhu"}
for person in person.items():
    print(person)

('age', 25)
('name', 'madhu')

In [39]:
person = {"age":25,"name":"madhu"}
for key,value in person.items():
    print(f" {key} : {value}")

 age : 25
 name : madhu

In [36]:
person = {"age":25,"name":"madhu"}
for person in person:
    print(person)

age
name

In [42]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [49]:
for num in range(0,10,10):
    print(num)
else:
    print("end of the loop")

0
end of the loop

In [67]:
for char in "madhu priya":
    if(char ==' '):
      print()
    else:
        print(char,end='')

madhu
priya

In [82]:
num_list = [4, 2, 6, 8]
target = 10


for i in range(len(num_list)):
    for j in range(i+1,len(num_list)):
        if(num_list[i]+num_list[j]==target):
            print(i,j)

0 2
1 3

In [113]:
num_list = [4, 2, 6, 8]
target = 10

for idx,val in enumerate(num_list):
    print(num_list[idx]);

TypeError: unsupported operand type(s) for -: 'enumerate' and 'int'

In [132]:
num_list = [4,2,6,8] # [(0, 2), (1, 3)]
target = 10
for idx,value_1 in enumerate(num_list):
    for idx1,value_2 in enumerate(num_list):
        print(num_list[idx1])
else:
    num_list.remove(idx)

4
2
6
8
4
2
6
8
4
2
6
8
4
2
6
8

ValueError: list.remove(x): x not in list