### Integer Conversion

In [2]:
# interger to float
x = 5
y = float(x)  # y will be 5.0
print(y)

5.0

In [3]:
# interger to string
x = 5
y = str(x)  # y will be '5'
print(y)

5

In [9]:
# Converting an integer to a complex number
integer_number = 5
complex_number = complex(integer_number)

print(complex_number)  # Output: (5+0j)

(5+0j)

In [18]:
# Converting an integer to a boolean
number = 0
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")  

number = 1
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")  

number = -1
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")

0 --> False
1 --> True
-1 --> True

In [19]:
# Converting an integer to a list
number = 12345
integer_list = list(number)
print(integer_list)

TypeError: 'int' object is not iterable

In [22]:
# Converting an integer to a tuple
integer_number = 123
integer_tuple = tuple(integer_number)
print(integer_tuple)

TypeError: 'int' object is not iterable

In [23]:
# Converting an integer to a set
integer_number = 12345
integer_set = set(integer_number)
print(integer_set)

TypeError: 'int' object is not iterable

In [25]:
# Converting an integer to a dictionary
integer_number = 123
integer_dict = dict(integer_number)
print(integer_dict)

TypeError: 'int' object is not iterable

### float Conversions

In [26]:
# Float value
float_number = 3.14

# Converting to int
int_number = int(float_number)
print("Integer:", int_number)

# Converting to float (no conversion needed)
float_number = float(float_number)
print("Float:", float_number)

# Converting to complex
complex_number = complex(float_number)
print("Complex:", complex_number)

# Converting to bool
bool_value = bool(float_number)
print("Boolean:", bool_value)

# Converting to str
str_value = str(float_number)
print("String:", str_value)

# Converting to list
list_value = list(float_number)
print("List:", list_value)

Integer: 3
Float: 3.14
Complex: (3.14+0j)
Boolean: True
String: 3.14

TypeError: 'float' object is not iterable

In [27]:
# Converting to tuple
float_number = 3.14
tuple_value = tuple(float_number)
print("Tuple:", tuple_value)

TypeError: 'float' object is not iterable

In [28]:
# Converting to set
float_number = 3.14
set_value = set(float_number)
print("Set:", set_value)

TypeError: 'float' object is not iterable

In [29]:
# Converting to dictionary
float_number = 3.14
dict_value = dict(float_number)
print("Dictionary:", dict_value)

TypeError: 'float' object is not iterable

### Boolean values Conversions

In [37]:
# Boolean value
bool_value = False
# bool_value = True

# Converting to int
int_number = int(bool_value)
print("Integer:", int_number)

# Converting to float
float_number = float(bool_value)
print("Float:", float_number)

# Converting to complex
complex_number = complex(bool_value)
print("Complex:", complex_number)

# Converting to bool (no conversion needed)
bool_value = bool(bool_value)
print("Boolean:", bool_value)

# Converting to str
str_value = str(bool_value)
print("String:", str_value)

# Converting to list
list_value = list(bool_value)
print("List:", list_value)

Integer: 0
Float: 0.0
Complex: 0j
Boolean: False
String: False

TypeError: 'bool' object is not iterable

In [32]:
# Converting to tuple
tuple_value = tuple(bool_value)
print("Tuple:", tuple_value)

TypeError: 'bool' object is not iterable

In [34]:
# Converting to set
set_value = set(bool_value)
print("Set:", set_value)

TypeError: 'bool' object is not iterable

In [35]:
# Converting to dictionary
dict_value = dict( bool_value)
print("Dictionary:", dict_value)

TypeError: 'bool' object is not iterable

### complex values Conversions

In [39]:
# Complex value
complex_number = 3 + 4j

# Converting to int (Not possible)
int_number = int(complex_number)
print("Integer:", int_number)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [40]:
# Converting to float
float_number = float(complex_number)
print("Float:", float_number)

TypeError: float() argument must be a string or a real number, not 'complex'

In [43]:
# Converting to complex 
complex_number = complex(complex_number)
print("Complex:", complex_number)

# Converting to bool 
bool_value = bool(complex_number)
print("Boolean:", bool_value)

# Converting to str
str_value = str(complex_number)
print("String:", str_value)

# Converting to list
list_value = list(complex_number)
print("List:", list_value)

Complex: (3+4j)
Boolean: True
String: (3+4j)

TypeError: 'complex' object is not iterable

In [44]:
# Converting to tuple (Not possible)
tuple_value = tuple(complex_number)
print("Tuple:", tuple_value)

TypeError: 'complex' object is not iterable

In [45]:
# Converting to set
set_value = set(complex_number)
print("Set:", set_value)

TypeError: 'complex' object is not iterable

In [ ]:
# Converting to dictionary 
dict_value = dict(complex_number)
print("Dictionary:", dict_value)

TypeError: 'complex' object is not iterable

### String Conversions

In [4]:
# String value
str_value = "123"
# str_value = 'Madhu'

# Converting to int
int_number = int(str_value)
print("Integer:", int_number)

Integer: 123

In [13]:
# Converting to float
float_number = float(str_value)
print("Float:", float_number)

ValueError: could not convert string to float: 'Madhu'

In [14]:
# Converting to complex
complex_number = complex(str_value)
print("Complex:", complex_number)

ValueError: complex() arg is a malformed string

In [10]:
# Converting to bool
bool_value = bool(str_value)
print("Boolean:", bool_value)

Boolean: True

In [11]:
# Converting to str (no conversion needed)
str_value = str(str_value)
print("String:", str_value)

# Converting to list
list_value = list(str_value)
print("List:", list_value)

# Converting to tuple
tuple_value = tuple(str_value)
print("Tuple:", tuple_value)

# Converting to set
set_value = set(str_value)
print("Set:", set_value)

# Converting to dictionary
dict_value = dict(str_value)
print("Dictionary:", dict_value)

String: Madhu
List: ['M', 'a', 'd', 'h', 'u']
Tuple: ('M', 'a', 'd', 'h', 'u')
Set: {'d', 'u', 'a', 'M', 'h'}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

### List Conversions

In [35]:
# Input List values
list_values = ['123','345','678','891']
# list_values = ['abc','def','ghi','jkl']
output_list=[]

# Convert to int
for value in list_values:
    output_list.append(int(value))
print("integer:", output_list)

integer: [123, 345, 678, 891]

In [36]:
# Convert to float
output_list=[]
for value in list_values:
    output_list.append(float(value))
print("float:", output_list)

float: [123.0, 345.0, 678.0, 891.0]

In [37]:
# Convert to complex
output_list=[]
for value in list_values:
    output_list.append(complex(value))
print("complex:", output_list)

complex: [(123+0j), (345+0j), (678+0j), (891+0j)]

In [38]:
# Convert to bool
output_list=[]
for value in list_values:
    output_list.append(bool(value))
print("boolean:", output_list)

# Convert to str (no conversion needed)
output_list=[]
for value in list_values:
    output_list.append(str(value))
print("string:", output_list)

# Convert to list (no conversion needed)
print("list:", list(list_values))

# Convert to tuple
print("tuple:",tuple(list_values))

# Convert to set
print("set:", set(list_values))

# Convert to dict (assuming the list represents key-value pairs)
print("dict:", dict(list_values))

boolean: [True, True, True, True]
string: ['123', '345', '678', '891']
list: ['123', '345', '678', '891']
tuple: ('123', '345', '678', '891')
set: {'678', '891', '345', '123'}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

### Tuple Conversions

In [74]:
# input tuple values
# tuple_values = ('123','345','567','789')
tuple_values = ('abc','cde','efg','ghi')

# Convert to int
# for value in tuple_values:
print("integer:", int(tuple_values))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [73]:
# Convert to float
for value in tuple_values:
    print("float:", float(value))

ValueError: could not convert string to float: 'abc'

In [46]:
# Convert to complex
output_list=[]
for value in tuple_values:
    output_list.append(complex(value))
print("complex:", output_list)

TypeError: complex() first argument must be a string or a number, not 'list'

In [51]:
# Convert to bool
output_list=[]
for value in tuple_values:
    output_list.append(bool(value))
print("boolean:", output_list)

# Convert to str (no conversion needed)
print("string:", str(tuple_values))

# Convert to list (no conversion needed)
print("list:", list(tuple_values))

# Convert to tuple (no conversion needed)
print("tuple:", tuple(tuple_values))

# Convert to set
print("set:", set(tuple_values))

# Convert to dict (assuming the tuple represents key-value pairs)
print("dict:", dict(tuple_values))

boolean: [True, True, True, True]
string: ('abc', 'cde', 'efg', 'ghi')
list: ['abc', 'cde', 'efg', 'ghi']
tuple: ('abc', 'cde', 'efg', 'ghi')
set: {'cde', 'abc', 'efg', 'ghi'}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

### Set Conversions

In [81]:
# Set values
# set_values = {'123', '345','567','789'}
set_values = {'abc', 'def','ghi','ijk'}

# Convert to int
for value in set_values:
    print("integer:", int(value))
    
print("integer:", int(set_values))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'set'

In [79]:
# Convert to float
for value in set_values:
    print("float:", float(value))
    
print("float:", float(set_values))

ValueError: could not convert string to float: 'def'

In [82]:
# Convert to complex
# for value in set_values:
#     print("complex:", complex(value))
    
print("complex:", complex(set_values))

TypeError: complex() first argument must be a string or a number, not 'set'

In [83]:
# Convert to bool
# for value in set_values:
#     print("boolean:", bool(value))
    
print("boolean:", bool(set_values))

boolean: True

In [84]:
# Convert to str (no conversion needed)
for value in set_values:
    print("string:", str(value))
    
print("string:", str(set_values))

string: def
string: abc
string: ijk
string: ghi
string: {'def', 'abc', 'ijk', 'ghi'}
list: ['def', 'abc', 'ijk', 'ghi']
tuple: ('def', 'abc', 'ijk', 'ghi')
set: {'def', 'abc', 'ijk', 'ghi'}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [85]:
# Convert to list (no conversion needed)
print("list:", list(set_values))

# Convert to tuple
print("tuple:", tuple(set_values))

# Convert to set (no conversion needed)
print("set:", set(set_values))

# Convert to dict (assuming the set represents key-value pairs)
print("dict:", dict(set_values))

list: ['def', 'abc', 'ijk', 'ghi']
tuple: ('def', 'abc', 'ijk', 'ghi')
set: {'def', 'abc', 'ijk', 'ghi'}

ValueError: dictionary update sequence element #0 has length 3; 2 is required

### Dict values Conversions

In [5]:
# Dictionary values
dict_values = {'name':'xyz','age':25,'salary':200000,'isManager':True,'isCeo':False}

# Convert to int
for key, value in dict_values.items():
    print(int(key), ":", int(value))

ValueError: invalid literal for int() with base 10: 'name'

In [87]:
# Convert to float
for key, value in dict_values.items():
    print(float(key), ":", float(value))

ValueError: could not convert string to float: 'name'

In [88]:
# Convert to complex
for key, value in dict_values.items():
    print(complex(key), ":", complex(value))

ValueError: complex() arg is a malformed string

In [89]:
# Convert to boolean
for key, value in dict_values.items():
    print(bool(key), ":", bool(value))

True : True
True : True
True : True
True : True
True : False

In [90]:
# Convert to string
for key, value in dict_values.items():
    print(str(key), ":", str(value))

name : Madhu
age : 25
salary : 200000
isManager : True
isCeo : False

In [93]:
# Convert to list
print("dict to list",list(dict_values))

print("dict to tuple",tuple(dict_values))

print("dict to set",set(dict_values))

print("dict to dict",dict(dict_values))

dict to list ['name', 'age', 'salary', 'isManager', 'isCeo']
dict to tuple ('name', 'age', 'salary', 'isManager', 'isCeo')
dict to set {'age', 'isCeo', 'name', 'salary', 'isManager'}
dict to dict {'name': 'Madhu', 'age': 25, 'salary': 200000, 'isManager': True, 'isCeo': False}