### Integer Conversion

In [2]:
# interger to float
x = 5
y = float(x)  # y will be 5.0
print(y)

5.0

In [3]:
# interger to string
x = 5
y = str(x)  # y will be '5'
print(y)

5

In [9]:
# Converting an integer to a complex number
integer_number = 5
complex_number = complex(integer_number)

print(complex_number)  # Output: (5+0j)

(5+0j)

In [18]:
# Converting an integer to a boolean
number = 0
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")  

number = 1
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")  

number = -1
boolean_value = bool(number)
print(f"{number} --> {boolean_value}")

0 --> False
1 --> True
-1 --> True

In [19]:
# Converting an integer to a list
number = 12345
integer_list = list(number)
print(integer_list)

TypeError: 'int' object is not iterable

In [22]:
# Converting an integer to a tuple
integer_number = 123
integer_tuple = tuple(integer_number)
print(integer_tuple)

TypeError: 'int' object is not iterable

In [23]:
# Converting an integer to a set
integer_number = 12345
integer_set = set(integer_number)
print(integer_set)

TypeError: 'int' object is not iterable

In [25]:
# Converting an integer to a dictionary
integer_number = 123
integer_dict = dict(integer_number)
print(integer_dict)

TypeError: 'int' object is not iterable

### float Conversions

In [26]:
# Float value
float_number = 3.14

# Converting to int
int_number = int(float_number)
print("Integer:", int_number)

# Converting to float (no conversion needed)
float_number = float(float_number)
print("Float:", float_number)

# Converting to complex
complex_number = complex(float_number)
print("Complex:", complex_number)

# Converting to bool
bool_value = bool(float_number)
print("Boolean:", bool_value)

# Converting to str
str_value = str(float_number)
print("String:", str_value)

# Converting to list
list_value = list(float_number)
print("List:", list_value)

Integer: 3
Float: 3.14
Complex: (3.14+0j)
Boolean: True
String: 3.14

TypeError: 'float' object is not iterable

In [27]:
# Converting to tuple
float_number = 3.14
tuple_value = tuple(float_number)
print("Tuple:", tuple_value)

TypeError: 'float' object is not iterable

In [28]:
# Converting to set
float_number = 3.14
set_value = set(float_number)
print("Set:", set_value)

TypeError: 'float' object is not iterable

In [29]:
# Converting to dictionary
float_number = 3.14
dict_value = dict(float_number)
print("Dictionary:", dict_value)

TypeError: 'float' object is not iterable

### Boolean values conversions

In [37]:
# Boolean value
bool_value = False
# bool_value = True

# Converting to int
int_number = int(bool_value)
print("Integer:", int_number)

# Converting to float
float_number = float(bool_value)
print("Float:", float_number)

# Converting to complex
complex_number = complex(bool_value)
print("Complex:", complex_number)

# Converting to bool (no conversion needed)
bool_value = bool(bool_value)
print("Boolean:", bool_value)

# Converting to str
str_value = str(bool_value)
print("String:", str_value)

# Converting to list
list_value = list(bool_value)
print("List:", list_value)

Integer: 0
Float: 0.0
Complex: 0j
Boolean: False
String: False

TypeError: 'bool' object is not iterable

In [32]:
# Converting to tuple
tuple_value = tuple(bool_value)
print("Tuple:", tuple_value)

TypeError: 'bool' object is not iterable

In [34]:
# Converting to set
set_value = set(bool_value)
print("Set:", set_value)

TypeError: 'bool' object is not iterable

In [35]:
# Converting to dictionary
dict_value = dict( bool_value)
print("Dictionary:", dict_value)

TypeError: 'bool' object is not iterable

### complex values conversions

In [39]:
# Complex value
complex_number = 3 + 4j

# Converting to int (Not possible)
int_number = int(complex_number)
print("Integer:", int_number)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [40]:
# Converting to float
float_number = float(complex_number)
print("Float:", float_number)

TypeError: float() argument must be a string or a real number, not 'complex'

In [43]:
# Converting to complex 
complex_number = complex(complex_number)
print("Complex:", complex_number)

# Converting to bool 
bool_value = bool(complex_number)
print("Boolean:", bool_value)

# Converting to str
str_value = str(complex_number)
print("String:", str_value)

# Converting to list
list_value = list(complex_number)
print("List:", list_value)

Complex: (3+4j)
Boolean: True
String: (3+4j)

TypeError: 'complex' object is not iterable

In [44]:
# Converting to tuple (Not possible)
tuple_value = tuple(complex_number)
print("Tuple:", tuple_value)

TypeError: 'complex' object is not iterable

In [45]:
# Converting to set
set_value = set(complex_number)
print("Set:", set_value)

TypeError: 'complex' object is not iterable

In [ ]:
# Converting to dictionary 
dict_value = dict(complex_number)
print("Dictionary:", dict_value)

TypeError: 'complex' object is not iterable

### String Conversions

In [15]:
# String value
str_value = "123"
# str_value = "Madhu"

# Converting to int
int_number = int(str_value)
print("Integer:", int_number)

Integer: 123

In [16]:
# Converting to float
float_number = float(str_value)
print("Float:", float_number)

Float: 123.0

In [18]:
# Converting to complex
complex_number = complex(str_value)
print("Complex:", complex_number)

Complex: (123+0j)

In [19]:
# Converting to bool
bool_value = bool(str_value)
print("Boolean:", bool_value)

# Converting to str (no conversion needed)
str_value = str(str_value)
print("String:", str_value)

# Converting to list
list_value = list(str_value)
print("List:", list_value)

# Converting to tuple
tuple_value = tuple(str_value)
print("Tuple:", tuple_value)

# Converting to set
set_value = set(str_value)
print("Set:", set_value)

# Converting to dictionary
dict_value = dict(str_value)
print("Dictionary:", dict_value)

Boolean: True
String: 123
List: ['1', '2', '3']
Tuple: ('1', '2', '3')
Set: {'2', '3', '1'}

ValueError: dictionary update sequence element #0 has length 1; 2 is required